/* ------------------------------------------------------------------ Fondo contact */

.fondo-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 8rem 0rem;
    padding: 0 2rem;
}

/* ------------------------------------------------------------------ Title */

.contact-section {
    margin: 5rem 0 0 0;
}

.contact-title {
    margin: 0px 0 60px 0px;
    padding: 0 3rem;
}
 
.contact-section h1 {
    color: var(--color1);
    font-size: 5rem;
    font-weight: 400;
}

.little-box-contacto {
    width: 4.5rem;
    height: 1rem;
    background-color: var(--color1);
    margin: .6rem 0rem 3rem .1rem;
}

.contact-section p {
    margin: 0 0 4rem 3rem ;
    font-size: 2rem;
    color: var(--color2);
}
  
/* ?-------------------------------------------------- Cuadrito info */

.contact-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 2rem 7rem 2rem;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color0);
}

.contact-info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  color: var(--color1);
}

.contact-info h3 {
  margin: 0;
  font-size: 1.7rem;
  color: var(--color1);
}

.contact-info p {
  margin: 1rem 0;
  font-size: 2rem;
  color: var(--color5);
}

/* *---------------------------------- Cuadrito info responsive*/

@media (max-width: 680px) {
  .contact-info-container {
      flex-direction: column;
  }

  .contact-info-item {
      margin-bottom: 20px;
  }

  .contact-section h1 {
    margin-top: -2rem;
  }

}

/* !------------------------------------------ form-contact-us */

.form-contact-us {
  display: flex;
  margin: 2rem;
}

.form-contact-us img {
  width: 50%;
}

@media (max-width: 1020px) {
  
  .form-contact-us {
    flex-direction: column;
    }

  .form-contact-us img {
    width: 100%;
  }

  .logo-contact img {
    display: none;
  }
}

/*?-------------------------------------------------------------- Formato box contact  */

.contact-form-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    padding: 40px;
    border: 2px solid transparent;
    background-color: var(--color6);
}
  
/* ----------------------------------------------------------- Contenido contact form */
.logo-contact {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.logo-contact img {
  width: 40%;
  margin-top: -15px;
  
}

.logo-contact h2 {
    font-weight: 400;
    color: #7399b7;
    font-size: 4em;
}

.form-group {
    display: flex;
}

.input-box-contact {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 3px solid #7399b7;
  border-image-slice: 1;
  margin: 30px 0;
}

.input-box-contact label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.7em;
    color: var(--color2);
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box-contact input:focus~label,
.input-box-contact input:valid~label {
    top: -5px;
}

.input-box-contact input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.5em;
    color: var(--color0);
    font-weight: 400;
    padding: 0 35px 0 5px;
}

.separated {
  margin-left: 15px;
}
  
/* ----------------------------------------------------------------- Select de paises */

.select-pais {
    width: 100%;
    border-radius: 5px;
    min-height: 30px;
    background-color:#7399b7;
    color: var(--color5);
    padding-left: 1rem ;
    border: none;
    outline: none;
    margin: 10px 0;
}

/* ---------------------------------------------------------------- Cuadro comentarios */

.form-group textarea {
    width: 100%;
    resize: vertical;
    min-height: 80px;
    margin: 20px 0 5px 0;
    border-bottom: 3px solid #7399b7;
    border-image-slice: 1;
    color: var(--color0);
    padding: 10px;
  }

  /* ------------------------------------------------------------- Autorización */
  
  .form-group-checkbox {
    text-align: left;
    margin: 5px 0 20px 0;
    
  }
  
  .form-group-checkbox label {
    font-size: 1.3em;
    color: var(--color2);
    margin-left: 4px;
  }
  
  .form-group-checkbox input {
    margin-left: 5px;
    accent-color: #7399b7;
    cursor: pointer;
  }

/* ------------------------------------------- */

  #message-email-validator {
    display: none;
  }
  
  #message-email-validator p {
    color: red;
  }


  /* ------------------------------------------------------------------- Button */

  .btn-contact {
    display: block;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.6em;
    color: var(--color5);
}

.btn-contact:hover {
    transform: scale(1.1);
    transition: all 300ms ease;
}

.btn-contact {
    background-color: #7399b7;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 20px;

}
/* ----------------------------------------------------------------------------- Politica de privacidad */
  
  .privacy-notice p {
    font-size: 1.5rem;
    color: var(--color2);
    text-align: center;
  }
  
  .privacy-notice a {
    color: var(--color1);
    text-decoration: none;    

  }
  
  .privacy-notice a:hover {
    text-decoration: underline;    
  }

  @media (max-width: 800px) {
    footer {
      margin-top: 24rem;
    }
  

  }