.ecommerce {
    background-color: var(--color1);
}

.outlet-header {
    text-align: center;
    padding: 20px;
    /* background-color: #cfe9d8; */
    margin-top: 70px;
}

.outlet-header h1 {
    font-size: 6rem;
    font-weight: bold;
    margin: 3rem 0 2rem 0;
    color: var(--color9);
}

.outlet-header p {
    color: var(--color6);
    font-size: 2rem;
    font-style: italic;
}
.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.filters button {
    margin: 5px;
    font-size: 15px;
    padding: 10px 20px;
    background-color: var(--color9);
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.filters button:hover {
    background-color: #45a049;
    border-radius: 20px;
}

.product-sorting {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin: 20px 0;
}

#order-by {
    border: 2px solid var(--color5);
    background-color: transparent;
    border-radius: 20px;
    color: var(--color5);
    padding: 1rem;
}

#order-by option {
    background-color: #45a049;
}

.view-options button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: var(--color5);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
}

.product-card img {
    width: 100px;
    height: auto;
}

.product-title {
    font-size: 16px;
    margin: 10px 0;
}

.product-price {
    color: var(--color9);
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem 0;
}

button {
    background-color: var(--color9);
    color: var(--color5);
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Media queries para dispositivos móviles */
@media (max-width: 768px) {
    .product-sorting {
        flex-direction: column;
        padding: 0 10px;
    }

    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }

    .product-card {
        padding: 10px;
    }

    .product-card img {
        width: 80px;
    }
}

@media (max-width: 480px) {
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .product-sorting {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .products-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
    }

    .product-card {
        padding: 10px;
    }

    .product-card img {
        width: 70px;
    }

    .product-title {
        font-size: 14px;
    }

    button {
        width: 100%;
        padding: 8px;
    }
}
