body.dark {
    background-color: var(--color7);
}

body.dark .moon-theme {
    opacity: 0;
    display: none;
}

body.dark .sun-theme {
    opacity: 1;
    display: block;
}

/* *-------------------------------------------------- format top-bar  */

body.dark .top-bar {
    background-color: var(--color7);
}

body.dark .top-bar .top-bar-cont .contact-mail a,
body.dark .top-bar .top-bar-cont .contact-call a,
body.dark .login-home a {
    color: var(--color4);
}

body.dark .login-home a:hover {
    color: #a7e036;
  }


/* *------------------------------------------------------ format navbar */

/* ----------------------------------------------------------- */

body.dark .text-section {
    color: var(--color5);
}

body.dark .quienes-somos .text-section p {
    color: var(--color2);
}

body.dark .cont-quienes-somos {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);

}

body.dark .cont-quienes-somos .cont-text .parrafo-historia {
    color: var(--color2);
}

/* *---------------------------------------------------- fondo sección Nuestros servicios */

body.dark .service {
    background-image: linear-gradient(to right bottom, rgba(0, 151, 178, 0.8), rgba(126, 217, 87, 0.4));
}

body.dark .home-quienes-somos .text-section p {
    color: var(--color6);
}

/* *------------------------------------------------ nosotros */

body.dark .cont-nos .cont-text-nos p {
    color: var(--color6);
}
