.main-nosotros {
    margin-top: 40px;
}

.cont-nos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 9.6rem;
    margin: 0 auto;
    max-width: 150rem;
}

.cont-nos .cont-text-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 0 2rem;
}

.cont-nos .cont-text-nos .secondary-title {
    color: var(--color1);
    letter-spacing: 3px;
    font-size: 5em;
    font-weight: 500;
    text-transform: uppercase;
}

.cont-nos .cont-text-nos .secondary-title span {
    color: var(--color4);
}

.little-box-nosotros {
    width: 5rem;
    height: 1.2rem;
    background-color: var(--color1);
    margin: 1rem 0;
}

.cont-nos .cont-text-nos p {
    margin-top: 3rem;
    font-size: 1.9rem;
    letter-spacing: 1px;
    color: var(--color7);
}

.cont-nos .cont-img-nos img {
    width: 80%;
    /* height: 40rem; */
    margin: 0 5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.cont-nos .cont-img-nos {
    margin: 0 auto;
}

.nosotros-title-section {
    display: block;
}

/* ---------------------------------------------------- insignias */

.cont-why {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem 10rem 7rem;
    width: 80%;
    max-width: 150rem;
}

.cont-why .cont-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2.5rem;
}

.cont-why .cont-box ion-icon {
    font-size: 4rem;
    color: var(--color5);
    background-color: var(--color1);
    padding: 2rem;
    border-radius: 50%;
    margin-bottom: 2rem;
    transition: all 1s;
}

.cont-why .cont-box a {
    font-size: 2rem;
    text-align: center;
    color: var(--color1);
}

.icon-inner, .ionicon, svg {
    display: block;
    height: 100%;
    width: 100%;
}

/* *------------------------------------------------ nosotros tittle section responsive */
@media (max-width: 1000px) {
    .cont-nos  {
      display: block;
      padding: 7rem 4rem;
    }

    .cont-nos .cont-text-nos {
        padding: 0;
    }

    .cont-nos .cont-text-nos p {
        margin-bottom: 5rem;
    }

    .cont-why {
        margin: 6rem auto;
    }

    .cont-why .cont-box {
        margin-bottom: 1rem;
    }

    .cont-why .cont-box a {
        font-size: 1.5rem;
    }

}

/* !-------------------------------------------------------- cuadrito cifras en aumento */

.section-counter-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    margin: 0;
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, .8),
    rgba(0, 0, 0, .8)),url(/src/img/naturaleza_Felix-Mittermeier_Pexels.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter-container-nosotros {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 800px;
}

.counter-nosotros {
    /* border: 1.2px solid var(--color1); */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1;
    margin: 0 3rem;
}

.counter-nosotros .number-nosotros {
    font-size: 2.5rem;
    color: var(--color1);
    margin-bottom: 2rem;
}

.counter-nosotros h3 {
    font-size: 2rem;
    color: var(--color1);
    font-size: 1.2rem;
    text-transform: uppercase;
}

.counter-nosotros ion-icon {
    font-size: 1.5rem;
    margin-right: .4rem;
}

/* *--------------------------------------------------- cuadrito cifras en aumento responsive */
@media (max-width: 600px) {

    .section-counter-nosotros {
        height: 50vh;
    }

    .counter-container-nosotros {
        flex-direction: column;
        align-items: center;
    }

    .counter-nosotros {
        margin: 10px 0;
        width: 50%;
        /* border: none; */
    }
}
/* ?---------------------------------------- cartas info section */

.nosotros-info-section {
    display: block;
    background: var(--color8) ;
    margin-top: 6rem;
}

.nosotros-info-section h2 {
    color: var(--color6);
    padding-top: 6rem;
    font-size: 4rem;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}

.cartas-grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    max-width: 150rem;
    padding: 9.6rem;
}

.carta {
    justify-self: center;
    position: relative;
    width: 30rem;
    height: 35rem;
    border-radius: 1rem;
    transform-style: preserve-3d;
    transform: perspective(600px);
    transition: transform 2s;
}

.carta .frente {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.carta .cara {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
}

.carta .frente img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta .frente h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    color: var(--color5);
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    text-transform: uppercase;
}

.carta .atras {
 transform: perspective(600px) rotateY(180deg);
    background-color: var(--color1);
    padding: 1.5rem;
    color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.carta .atras h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
}

.carta .atras p {
    font-size: 1.8rem;
    text-align: left;
    margin: 0 10px;
}

.carta:hover {
    transform: perspective(600px) rotateY(180deg);
}

/* *------------------------------------------ cartas responsive */
@media (max-width: 1000px) {
    .nosotros-info-section h2 {
        font-size: 3rem;
    }

    .cartas-grid {
        display: block;
        padding: 0;
    }
    
    .carta {
        padding: auto;
        margin: 6rem auto;
    }

    
}

/* ?--------------------------------------------------- en que somos especialistas */
.container-especialistas {
    margin: 7rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.especialistas-box {
    display: flex;
    background-color: var(--color6);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
}

.text-content-nosotros, 
.image-content-nosotros {
    margin: 1rem ;
    padding: 20px;
}

.text-content-nosotros {
    flex: 1;
}

.text-content-nosotros h4 {
    color: var(--color8);
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.text-content-nosotros h2 {
    color: #1b5e20 ;
    font-size: 3rem;
    margin-bottom: 20px;
}

.text-content-nosotros p {
    font-size: 1.5rem;
    color: var(--color3);
    text-align: justify;
    line-height: 1.6;
}

.image-content-nosotros {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-content-nosotros img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* *-------------------------------------------- especialistas responsive */

@media (max-width: 768px) {
    .container-especialistas {
        margin: 18rem 6rem;
    }

    .especialistas-box {
        flex-direction: column;
    }
    
    .image-content-nosotros {
        order: -1;
        margin-bottom: -1.5rem;
    }
}

