@charset "UTF-8";

/* -------------------------------------------------------------- Keyframes */

@keyframes change {
  33% {
    background-image: url(/img/fondo-slide2.jpg);
  }
  66% {
    background-image: url(/img/fondo-slide3.jpg);
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}


/* keyframes animación de llegada */
@keyframes arrive {
  0% {
    opacity: 0;
    transform: translateX(-100%) skew(-25deg);
  }
  100% {
    opacity: 1;
    transform: translateX(0) skew(-25deg);
  }
}

/* keyframes movimiento a la derecha */
@keyframes move-right {
  0% {
    transform: translateX(0) skew(-25deg);
  }
  100% {
    transform: translateX(20px) skew(-25deg);
  }
}



/* Estilos para la sección del eslogan */
#slogan-section {
  /* padding: 40px 20px; */
  background-color: #f9f9f9;
  text-align: center;
}

.slogan-image {
  position: relative;
  background: url("imagen/descarga.jfif") no-repeat center center/cover;
  height: 300px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-text {
  position: absolute;
  left: 20px;
  max-width: 50%;
  text-align: left;
}

.slogan-text p {
  font-size: 1.5em;
  margin: 0;
}

.info-boxes {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box {
  background: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 200px;
  /* Ajusta el ancho máximo según sea necesario */
}

.info-box h3 {
  margin: 0 0 10px;
}

.info-box p {
  margin: 0;
  font-size: 0.9em;
}

#hero {
  background: url("imagen/descarga.jfif") no-repeat center center/cover;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  font-size: 2em;
}
/* --------------------------------------------------------------- Carrousel */
.container-carousel {
  background-color: #073b00;
  margin-top: 7%;
  height: calc(100vh - 13rem);
}

.container-carousel .container-bg {
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 8rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(/img/fondo-slide1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 15s infinite ease-in-out;
}

.container-carousel .container-bg .container-text {
  position: relative;
  padding: 10rem;
  max-width: 75rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.8rem;
  opacity: 95%;
}
.container-carousel .container-bg .container-text::before {
  transform: skew(-25deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(0, 151, 178, 0.8), rgba(126, 217, 87, 0.4));
  z-index: -1;
  animation: arrive 5s ease-out, stretch 5s ease-in-out 5s forwards;
}
.container-carousel .container-bg .container-text h1 {
  font-size: 2.6rem;
  color: var(--color5);
  font-weight: 400;
  padding-bottom: .8em;
}
.container-carousel .container-bg .container-text .btn-i {
  margin-bottom: 1rem;
  width: 30rem;
}
.container-carousel .container-bg .container-text .btn-tarifas {
  padding: 1.6rem 2.5rem;
  border-radius: 20px;
  background-color: #4e926f;
  color: var(--color5);
  text-decoration: none;
  font-size: 1.6rem;
  /* font-weight: bold; */
  text-transform: uppercase;
  transition: all 0.35s;
}
.container-carousel .container-bg .container-text .btn-tarifas:hover {
  background-color: #a5c4b4cc;
  color: var(--color5);
}
.container-carousel .container-bg .container-text .btn-ver-mas {
  text-transform: uppercase;
  text-decoration: none;
  /* font-weight: bold; */
  padding: 1.6rem 2.5rem;
  margin-left: 1rem;
  border-radius: 20px;
  color: var(--color5);
  background-color: transparent;
  box-shadow: 0 0 0 1.5px var(--color5);
  font-size: 1.6rem;
  transition: all 0.35s;
}
.container-carousel .container-bg .container-text .btn-ver-mas:hover {
  background-color: var(--color3);
  box-shadow: 0 0 0 0px var(--color3);
}

/* @media screen (max-width: 700px) {
  .container-carousel .container-bg .container-text {
    padding:0;
  }  

  .container-carousel .container-bg .container-text::before {
    display: none;
  }
} */


/* * --------------------------------------------------  */

.quienes-somos {
  padding: 9.6rem 20rem;
  margin-top: -10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 150rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.quienes-somos .text-section {
  grid-column: span 2;
}

.quienes-somos .text-section h1 {
  letter-spacing: 3px;
  margin-bottom: 2rem;
  font-size: 4.5em;
  color: var(--color1);
  text-transform: uppercase;
}

.quienes-somos .text-section h1 span {
  color: var(--color4);
}

.little-box-home {
  width: 6rem;
  height: 1.4rem;
  background-color: var(--color1);
  margin: 0rem 0 4rem 0;
}

.quienes-somos .text-section p {
  font-size: 1.9rem;
  color: var(--color3);
  letter-spacing: 1px;
}

.quienes-somos .img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quienes-somos img {
  width: 100%;
}

.quienes-somos .barra-img {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.quienes-somos .barra-img img {
  margin: 8rem 0 15px 0;
  width: 100%;
  transition: all 0.4s;
}

.quienes-somos .barra-img img:hover {
  transform: scale(1.1);
}

.cont-quienes-somos {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  margin-top: 5rem;
  gap: 10px;
  transition: all 0.4s;
  width: 100%;
  height: 94%;
  box-sizing: border-box;
}

.cont-quienes-somos img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  display: block;
  margin-bottom: 2rem;
}

.cont-quienes-somos .cont-text {
  padding: 0 2rem 2rem;
}

.cont-quienes-somos .cont-text .titulo-historia {
  color: var(--color1);
  font-size: 2.6rem;
  font-weight: bold;
  margin: .8rem 0rem 2rem .5rem;
}

.little-box-cont {
  width: 3.2rem;
  height: .6rem;
  background-color: var(--color1);
  margin: -.8rem 0 3rem .5rem;
}

.cont-quienes-somos .cont-text .parrafo-historia {
  font-size: 1.5rem;
  margin: 0 .5rem 2rem .5rem;
  color: var(--color3);
  letter-spacing: .5px;

}

.cont-quienes-somos .cont-text a {
  color: var(--color1);
  font-size: 3rem;
  display: flex;
  justify-content: end;
}

.cont-quienes-somos .cont-text a:hover {
  color: var(--color9);
}

.cont-quienes-somos:hover {
  transform: translateY(-1.2rem);
}


/*-------------------------------- Botones de navegación del carrusel */
.container-ser {
  position: relative;
  background: #000;
  background-image: url(/img/fondoservis.png);
  background-position: center;
  background-size: cover;
}

.service {
  background-image: linear-gradient(to right bottom, rgba(0, 151, 178, 0.8), rgba(126, 217, 87, 0.4));
  margin: 0 auto;
  padding: 9.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 140rem;
  position: relative;
  z-index: 1;
}
.service h2 {
  grid-column: span 3;
  justify-self: center;
  font-size: 3.6rem;
  color: #fff;
}
.service .service-p {
  font-size: 2rem;
  color: #fff;
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 8rem;
}
.service .small-image-item {
  display: flex;
  grid-row: 3/5;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 2rem 4rem;
  background-color: #292929;
  border-radius: 10px;
  text-align: center;
  max-width: 30rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
}
.service .small-image-item img {
  width: 10rem;
}
.service .small-image-item h3 {
  font-size: 2.4rem;
  color: #fff;
}
.service .small-image-item p {
  font-size: 1.2rem;
  color: #fff;
}
.service .small-image-item a {
  color: #fff;
  background-image: linear-gradient(to right bottom, #0097b2, #7ed957);
  padding: 1rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5rem;
}
.service .small-image-item a:hover {
  background-image: linear-gradient(to right bottom, #7ed957, #0097b2);
}

/* Estilos para la sección de información */
.clientes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem 0;
}
.clientes-section h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #97b3a5;
  margin: 0;
}
.clientes-section .container-logos {
  overflow: hidden;
  padding: 6rem 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.clientes-section .container-logos:hover .clientes-container {
  animation-play-state: paused;
}
.clientes-section .container-logos::before, .clientes-section .container-logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.clientes-section .container-logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}
.clientes-section .container-logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}
.clientes-section .clientes-container {
  display: flex;
  align-items: center;
  animation: 35s slide infinite linear;
}
.clientes-section .clientes-container img {
  height: 10rem;
  margin: 0 4rem;
}
.clientes-section .clientes-container .ibm-img {
  height: 6rem;
}
.clientes-section .clientes-container .lenovo-img {
  height: 3rem;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.subtitulo {
  display: block;
  font-size: 7.4rem;
  font-weight: 500;
  color: var(--color1);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  margin-top: 7%;
}

.subtitulo span {
  color: var(--color4);
}

.little-box {
  width: 6rem;
  height: 1.6rem;
  background-color: var(--color1);
  margin-bottom: 8rem;
}

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-img-box::before, .step-img-box::after {
  content: "";
  display: block;
  /* height: 60%; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #e6f7e3;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #d7e6d3;
  z-index: -1;
}
.step-img-box .step-img {
  max-width: 38%;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.step-img-box .step-img:hover {
  transform: scale(1.1);
}

.step-text-box .service-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #d5ecd1;
  margin-bottom: 1.2rem;
}
.step-text-box .sub-service-ti {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.step-text-box .step-description {
  font-size: 2rem;
  line-height: 1.6;
  color: #555;
}

------------------- .nosotros-header {
  background-color: #4caf50;
  padding: 50px 0;
  text-align: center;
}

.nosotros-header img {
  max-width: 60%;
  height: auto;
}

.nosotros-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.title-container h2 {
  font-size: 2em;
  color: #333;
}

.subtitle {
  font-size: 1.2em;
  color: #666;
}

.info-box-rounded {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  text-align: center;
}

.nosotros-info-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.info-left,
.info-right {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.nosotros-photos-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.photo-item {
  width: 30%;
}

.photo-item img {
  max-width: 100%;
  border-radius: 10px;
}

/* Misión y Visión */
.nosotros-mission-vision {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.mission,
.vision {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.mission h3,
.vision h3 {
  font-size: 1.5em;
  color: #333;
}

.services-photos-section {
  display: flex;
  justify-content: space-between;
  background: url("imagen/fondo-sombreado.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.services-photos-section .photo-item {
  flex: 1;
  margin: 0 10px;
}

.services-photos-section .photo-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilos para la sección ¿Por qué elegirnos? */
.why-choose-us {
  text-align: center;
  margin: 40px 0;
}

.why-choose-us h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.choose-us-items {
  list-style: none;
  padding: 0;
}

.choose-us-items li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Estilos para la sección de más información */
.more-info-section {
  background-color: #f9e9f9;
  padding: 20px;
  display: flex;
  align-items: center;
}

.more-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.small-image {
  flex: 1;
  max-width: 150px;
  margin-right: 20px;
}

.text-content {
  flex: 2;
}

.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Estilos para Nuestros Servicios */
.our-services {
  text-align: center;
  margin: 40px 0;
}

.our-services h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item {
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}


/* Estilos para la sección de ubicación y redes sociales */
.location-and-socials {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

.location,
.social-media {
  flex: 1;
  margin-right: 20px;
}

.location h3,
.social-media h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}


/*# sourceMappingURL=styles.css.map */
