@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  font-size: 62.5%;
  font-family: sans-serif;
}

/* Estilos para la top-bar */
.top-bar {
  background-color: #e9eaed;
  color: #333;
  padding: 1.2rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-bar .top-bar-cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar .top-bar-cont .contact-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar .top-bar-cont .contact-mail ion-icon {
  background-color: #97b3a5;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
}
.top-bar .top-bar-cont .contact-mail a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
  margin: 0 10px;
}
.top-bar .top-bar-cont .contact-wsp {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar .top-bar-cont .contact-wsp ion-icon {
  background-color: #97b3a5;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
}
.top-bar .top-bar-cont .contact-wsp a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
  margin: 0 10px;
}
.top-bar .login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar .login ion-icon {
  background-color: #97b3a5;
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  color: #fff;
}
.top-bar .login a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #333;
  margin: 0 10px;
}

nav {
  border: 2px solid #bccc48;
  color: #666;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 1200rem;
  margin: 0 auto;
  position: relative;
}
nav .nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}
nav .nav-links {
  font-size: 1.4rem;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  flex: 1;
  position: relative;
}
nav .nav-links li {
  padding: 0 1.8rem;
}
nav .nav-links a {
  color: #131407;
  text-decoration: none;
  transition: all 0.3 ease;
}
nav .nav-links a:hover {
  text-shadow: 1px 0 0 #97b3a5;
  color: #97b3a5;
}
nav .logo {
  justify-content: center;
  display: flex;
  align-items: center;
}
nav .logo .logo-cont {
  display: inline-block;
  position: relative;
  padding-bottom: 10rem;
  padding-right: 7rem;
}
nav .logo img {
  height: 7rem;
}
nav .nav-actions {
  margin-left: 20rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
nav .nav-actions button {
  padding-left: 1rem;
  background: none;
  color: #545454;
  font-size: 2.4rem;
  margin-left: 15px;
  cursor: pointer;
}
nav .nav-actions button:hover {
  color: #252525;
}
nav .nav-actions .theme-toggle {
  background: none;
  color: #545454;
  font-size: 2.4rem;
  margin-left: 15px;
  cursor: pointer;
}
nav .nav-actions .language-toggle {
  border: none;
  color: #545454;
  font-size: 1.8em;
  cursor: pointer;
}
nav .nav-actions .btn-tar {
  background-image: linear-gradient(to right bottom, #0097b2, #7ed957);
  padding: 1.4rem 1.6rem;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  color: #fff;
}
nav .nav-actions .btn-tar:hover {
  background-image: linear-gradient(to right bottom, #7ed957, #0097b2);
}

/* Estilos específicos para el botón de cambio de tema */
#theme-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
}

/* Mostrar el ícono de sol en el modo claro */
#theme-toggle .sunny-outline {
  opacity: 1;
}

/* Mostrar el ícono de luna en el modo oscuro */
.dark-mode #theme-toggle .moon-outline {
  opacity: 1;
}

/* Ocultar el ícono de sol en el modo oscuro */
.dark-mode #theme-toggle .moon-outline {
  opacity: 0;
}

/* Ocultar el ícono de luna en el modo claro */
#theme-toggle .moon-outline {
  opacity: 0;
}

/* Ocultar íconos según el tema */
.hidden {
  display: none;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  background: #111;
}
footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
footer .content .izquierda .arriba img {
  width: 30rem;
}
footer .content .izquierda .abajo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .content .izquierda .abajo .cont-lenguaje {
  font-size: 2.4rem;
  color: #fff;
}
footer .content .medio {
  margin-bottom: 5rem;
}
footer .content .medio a {
  font-size: 1.6rem;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
footer .content .medio a:hover {
  color: #aaa;
}
footer .content p,
footer .content a {
  color: #fff;
}
footer .content .derecha {
  margin-top: 5rem;
}
footer .content .derecha .ingresa-t {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}
footer .content .derecha .enviar-t {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
}
footer .content .derecha .enviar-t:hover {
  background: none;
  color: #eb2f06;
}
footer .content .derecha .media-icon a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}
footer .content .derecha .media-icon a:hover {
  border-color: #eb2f06;
  color: #eb2f06;
}

.topico {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 9.6rem;
}

@keyframes change {
  33% {
    background-image: url(/img/fondo-slide2.jpg);
  }
  66% {
    background-image: url(/img/fondo-slide3.jpg);
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Estilos para la sección del eslogan */
#slogan-section {
  padding: 40px 20px;
  background-color: #f9f9f9;
  text-align: center;
}

.slogan-image {
  position: relative;
  background: url("imagen/descarga.jfif") no-repeat center center/cover;
  height: 300px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan-text {
  position: absolute;
  left: 20px;
  max-width: 50%;
  text-align: left;
}

.slogan-text p {
  font-size: 1.5em;
  margin: 0;
}

.info-boxes {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-box {
  background: rgba(0, 0, 0, 0.5);
  /* Fondo semi-transparente */
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  max-width: 200px;
  /* Ajusta el ancho máximo según sea necesario */
}

.info-box h3 {
  margin: 0 0 10px;
}

.info-box p {
  margin: 0;
  font-size: 0.9em;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .slogan-text {
    position: static;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .info-boxes {
    position: static;
    flex-direction: row;
    /* Cuadros en horizontal en móviles */
    justify-content: center;
  }
  .info-box {
    margin: 0 10px;
  }
  /* Ajustes adicionales para el header en móviles */
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 10;
    padding: 10px 20px;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .nav-links.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-toggle {
    display: block;
  }
}
#hero {
  background: url("imagen/descarga.jfif") no-repeat center center/cover;
  height: 400px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  font-size: 2em;
}

.container-carousel {
  background-color: #073b00;
  height: calc(100vh - 13rem);
}
.container-carousel .container-bg {
  display: flex;
  justify-content: start;
  align-items: end;
  padding: 9.5rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background-image: url(/img/fondo-slide1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: change 15s infinite ease-in-out;
}
.container-carousel .container-bg .container-text {
  position: relative;
  padding: 10rem;
  max-width: 80rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 1.4rem;
  opacity: 99%;
}
.container-carousel .container-bg .container-text::before {
  transform: skew(-20deg);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right bottom, rgba(0, 151, 178, 0.8), rgba(126, 217, 87, 0.4));
  z-index: -1;
}
.container-carousel .container-bg .container-text h1 {
  font-size: 2.4rem;
  color: #fff;
}
.container-carousel .container-bg .container-text .btn-i {
  margin-top: 2rem;
  width: 30rem;
}
.container-carousel .container-bg .container-text .btn-tarifas {
  padding: 1.6rem 2.5rem;
  border-radius: 8px;
  background-color: #93bb41;
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.35s;
}
.container-carousel .container-bg .container-text .btn-tarifas:hover {
  background-color: #6d8b30;
  color: #fff;
}
.container-carousel .container-bg .container-text .btn-ver-mas {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 1.6rem 2.5rem;
  margin-left: 1rem;
  border-radius: 8px;
  color: #fff;
  background-color: #545454;
  font-size: 1.6rem;
  transition: all 0.35s;
}
.container-carousel .container-bg .container-text .btn-ver-mas:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px #fff;
}

.quienes-somos {
  padding: 9.6rem 20rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  max-width: 150rem;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.quienes-somos .text-section {
  grid-column: span 2;
}
.quienes-somos .text-section h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #93bb41;
  text-transform: uppercase;
}
.quienes-somos .text-section h1 span {
  color: #97b3a5;
}
.quienes-somos .text-section p {
  font-size: 1.8rem;
  color: #555;
}
.quienes-somos .img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quienes-somos img {
  width: 95%;
}
.quienes-somos .barra-img {
  grid-column: span 3;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.quienes-somos .barra-img img {
  width: 100%;
  transition: all 0.4s;
}
.quienes-somos .barra-img img:hover {
  transform: scale(1.1);
}

.cont-quienes-somos {
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.09);
  gap: 10px;
  transition: all 0.4s;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.cont-quienes-somos img {
  width: 40rem;
  height: 25rem;
  object-fit: cover;
  display: block;
  margin-bottom: 2rem;
}
.cont-quienes-somos .cont-text {
  padding: 0 2rem 2rem;
}
.cont-quienes-somos .cont-text .titulo-historia {
  color: #97b3a5;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.cont-quienes-somos .cont-text .titulo-historia span {
  color: #93bb41;
}
.cont-quienes-somos .cont-text .parrafo-historia {
  font-size: 1.2rem;
  margin-bottom: 4rem;
  color: #333;
}
.cont-quienes-somos .cont-text a {
  text-decoration: none;
  color: #93bb41;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.cont-quienes-somos .cont-text a:hover {
  color: #698a27;
}
.cont-quienes-somos:hover {
  transform: translateY(-1.2rem);
}

/* Botones de navegación del carrusel */
.container-ser {
  position: relative;
  background: #000;
  background-image: url(/img/fondoservis.png);
  background-position: center;
  background-size: cover;
}

.service {
  background-image: linear-gradient(to right bottom, rgba(0, 151, 178, 0.8), rgba(126, 217, 87, 0.4));
  margin: 0 auto;
  padding: 9.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 140rem;
  position: relative;
  z-index: 1;
}
.service h2 {
  grid-column: span 3;
  justify-self: center;
  font-size: 3.6rem;
  color: #fff;
}
.service .service-p {
  font-size: 2rem;
  color: #fff;
  grid-column: span 3;
  justify-self: center;
  margin-bottom: 8rem;
}
.service .small-image-item {
  display: flex;
  grid-row: 3/5;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  padding: 2rem 4rem;
  background-color: #292929;
  border-radius: 10px;
  text-align: center;
  max-width: 30rem;
  height: 40rem;
  margin: 0 auto;
  position: relative;
}
.service .small-image-item img {
  width: 10rem;
}
.service .small-image-item h3 {
  font-size: 2.4rem;
  color: #fff;
}
.service .small-image-item p {
  font-size: 1.2rem;
  color: #fff;
}
.service .small-image-item a {
  color: #fff;
  background-image: linear-gradient(to right bottom, #0097b2, #7ed957);
  padding: 1rem 1.2rem;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  margin-top: 1.5rem;
}
.service .small-image-item a:hover {
  background-image: linear-gradient(to right bottom, #7ed957, #0097b2);
}

/* Estilos para la sección de información */
.clientes-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 8rem 0;
}
.clientes-section h2 {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #97b3a5;
  margin: 0;
}
.clientes-section .container-logos {
  overflow: hidden;
  padding: 6rem 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.clientes-section .container-logos:hover .clientes-container {
  animation-play-state: paused;
}
.clientes-section .container-logos::before, .clientes-section .container-logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.clientes-section .container-logos::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #fff);
}
.clientes-section .container-logos::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}
.clientes-section .clientes-container {
  display: flex;
  align-items: center;
  animation: 35s slide infinite linear;
}
.clientes-section .clientes-container img {
  height: 10rem;
  margin: 0 4rem;
}
.clientes-section .clientes-container .ibm-img {
  height: 6rem;
}
.clientes-section .clientes-container .lenovo-img {
  height: 3rem;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 9.6rem;
}

.grid--center-v {
  align-items: center;
}

.subtitulo {
  display: block;
  font-size: 7.4rem;
  font-weight: 500;
  color: #93bb41;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}
.subtitulo span {
  color: #97b3a5;
}

.little-box {
  width: 6rem;
  height: 1.6rem;
  background-color: #93bb41;
  margin-bottom: 8rem;
}

.section-how {
  padding: 9.6rem 0;
}

.step-img-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step-img-box::before, .step-img-box::after {
  content: "";
  display: block;
  /* height: 60%; */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #e6f7e3;
  z-index: -2;
}
.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #d7e6d3;
  z-index: -1;
}
.step-img-box .step-img {
  max-width: 38%;
  border-radius: 8px;
  transition: all 0.4s ease;
}
.step-img-box .step-img:hover {
  transform: scale(1.1);
}

.step-text-box .service-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #d5ecd1;
  margin-bottom: 1.2rem;
}
.step-text-box .sub-service-ti {
  color: #333;
  font-size: 2.4rem;
  margin-bottom: 1rem;
}
.step-text-box .step-description {
  font-size: 2rem;
  line-height: 1.6;
  color: #555;
}

------------------- .nosotros-header {
  background-color: #4caf50;
  padding: 50px 0;
  text-align: center;
}

.nosotros-header img {
  max-width: 60%;
  height: auto;
}

.nosotros-title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
}

.title-container h2 {
  font-size: 2em;
  color: #333;
}

.subtitle {
  font-size: 1.2em;
  color: #666;
}

.info-box-rounded {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 15px;
  max-width: 300px;
  text-align: center;
}

.nosotros-info-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.info-left,
.info-right {
  width: 45%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.nosotros-photos-section {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.photo-item {
  width: 30%;
}

.photo-item img {
  max-width: 100%;
  border-radius: 10px;
}

/* Misión y Visión */
.nosotros-mission-vision {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.mission,
.vision {
  width: 45%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.mission h3,
.vision h3 {
  font-size: 1.5em;
  color: #333;
}

.services-photos-section {
  display: flex;
  justify-content: space-between;
  background: url("imagen/fondo-sombreado.jpg") no-repeat center center;
  background-size: cover;
  padding: 20px;
}

.services-photos-section .photo-item {
  flex: 1;
  margin: 0 10px;
}

.services-photos-section .photo-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilos para la sección ¿Por qué elegirnos? */
.why-choose-us {
  text-align: center;
  margin: 40px 0;
}

.why-choose-us h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.choose-us-items {
  list-style: none;
  padding: 0;
}

.choose-us-items li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Estilos para la sección de más información */
.more-info-section {
  background-color: #f9e9f9;
  padding: 20px;
  display: flex;
  align-items: center;
}

.more-info-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.small-image {
  flex: 1;
  max-width: 150px;
  margin-right: 20px;
}

.text-content {
  flex: 2;
}

.btn-contact {
  display: inline-block;
  padding: 10px 20px;
  background-color: #e91e63;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

/* Estilos para Nuestros Servicios */
.our-services {
  text-align: center;
  margin: 40px 0;
}

.our-services h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.services-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-item {
  margin-bottom: 20px;
}

.service-item h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Estilos para el formulario de contacto ------------------------- Eliminar ya esta en Contacto.css */
/* .contact-form-section {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 40px 20px;
}

.form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form-content {
  flex: 1;
  margin-right: 20px;
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

form button {
  padding: 10px;
  background-color: #e91e63;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* Estilos para la sección de ubicación y redes sociales */
.location-and-socials {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
}

.location,
.social-media {
  flex: 1;
  margin-right: 20px;
}

.location h3,
.social-media h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.social-media a {
  margin-right: 10px;
}

.social-media img {
  width: 30px;
  height: 30px;
}


/*# sourceMappingURL=styles.css.map */
