.plans-title {
    margin: 12rem 0 0 5rem ;
}

.plans-title h1 {
    color: var(--color1);
    font-size: 6rem;
    font-weight: 400;
}

.little-box-cotiza {
  width: 5rem;
    height: 1.1rem;
    background-color: var(--color1);
    margin: .6rem 0rem 3rem .4rem;
}


.plans-title p {
    margin-bottom: 3rem;
    font-size: 2.1rem;
    color: var(--color2);
}

/* --------------------------------------------- Cuadro planes */
.pricing-plans {
    margin: 0 5rem 5rem;
    padding: 50px 0 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 50px;  
}


.pricing-plans ul {
    list-style-type: none;
}

.pricing-plans li span {
    font-weight: 700;
}

/* ----------------------------------------------------- Icons */
#primer-plan ion-icon {
    color: var(--color4);
    font-size: 1.5em;
    padding-top: 1rem;
}

#segundo-plan ion-icon {
    color: var(--color1);
    font-size: 1.5em;
    padding-top: 1rem;

}

#tercer-plan ion-icon {
    color: var(--color8);
    font-size: 1.5em;
    padding-top: 1rem;

}

#primer-plan,
#segundo-plan,
#tercer-plan {
    line-height: 20px;
    align-content: flex-end;

}

/* --------------------------------------------------- Cajita */


.plan-header {
    padding:  40px 0;
    color: var(--color5);
    margin-bottom: 20px;
  }
  
.plan-header h2 {
    margin-bottom: 10px;
    padding-top: 3px;
    font-size: 4rem;
  }

.plan-header p {
    font-size: 1.6rem;
    margin-top: 2.5rem;
   
}

/* --------------------------------------------------- Buttons */

.select-plan {
    display: block;
    width: 100%;
    padding: 15px 0;
    color: var(--color5);
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 7px;
    transition: background-color 0.3s ease;
  }

.select-plan:hover {
    opacity: .8;
    border-radius: 5px;
}


.btn-basic,
.plan.basic .plan-header {
    
    background-color: #0097b2;
}


.btn-premium,
.plan.premium .plan-header {
    background-color: var(--color1);
}

.btn-enterprise,
.plan.enterprise .plan-header {
    background-color: var(--color9);
}


/* ------------------------------------------------------------------- plan title*/
  
  .plan {
    flex: 1;
    background-color: var(--color6);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(92, 90, 90, 0.5);
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
  }
  
  .plan:hover {
    transform: translateY(-10px);
  }
  
  .plan-features {
    padding: 2rem 3rem;
    text-align: left;
    height: 100%;
    margin-bottom: 4rem;
  }
  
  .plan-features li {
    margin-bottom: 2rem;
    font-size: 16px;
    color: #333;
  }

  .plan-features span {
    font-size: 1.8rem;
    padding: 0 .5rem;
    color: var(--color7);
  }


  @media (max-width: 1000px) {
    .plans-title{
      margin-top: 10rem ;
    }

    .pricing-plans {
      flex-direction: column;
      margin-bottom: 7rem;
    }
    .plan-features {
      height: 100%;
      margin-bottom: 6rem;
    }
  }


