@import "mixins"; //! Mixins o reutilizables del codigo
@import "variables"; //!  Reseteando Estilos globales

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

//! Definir los rems
html {
  font-size: 62.5%;
  font-family: sans-serif;
}

//! Trabajar top-bar
//! ---------------------------------------------------------
//! ---------------------------------------------------------
/* Estilos para la top-bar */

.top-bar {
  background-color: #e9eaed;
  color: #333;
  padding: 1.2rem 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .top-bar-cont {
    display: flex;
    align-items: center;
    justify-content: center;

    .contact-mail {
      @include contact-icon-style;
    }

    .contact-wsp {
      @include contact-icon-style;
    }
  }

  .login {
    @include contact-icon-style;
  }
}

//! Trabajar el nav
//! ---------------------------------------------------------
//! ---------------------------------------------------------
nav {
  // padding: 0.5rem 9.6rem;
  // background-color: #fffdfd;
  border: 2px solid #bccc48;
  color: #666;
  // padding: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  max-width: 1200rem;
  margin: 0 auto;
  position: relative;

  .nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
    cursor: pointer;
  }

  .nav-links {
    font-size: 1.4rem;
    text-transform: uppercase;
    list-style: none;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    flex: 1;
    position: relative;

    li {
      padding: 0 1.8rem;
    }

    a {
      color: #131407;
      text-decoration: none;
      transition: all 0.3 ease;
      &:hover {
        text-shadow: 1px 0 0 $color-font;
        color: $color-font;
      }
    }
  }

  .logo {
    justify-content: center;
    display: flex;
    align-items: center;

    .logo-cont {
      display: inline-block;
      position: relative;
      padding-bottom: 10rem;
      padding-right: 7rem;
    }
    img {
      height: 7rem;
    }
  }

  .nav-actions {
    margin-left: 20rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

    button {
      padding-left: 1rem;
      background: none;
      color: $color-icon;
      font-size: 2.4rem;
      margin-left: 15px;
      cursor: pointer;
      &:hover {
        color: #252525;
      }
    }
    .theme-toggle {
      background: none;
      color: $color-icon;
      font-size: 2.4rem;
      margin-left: 15px;
      cursor: pointer;
    }
    .language-toggle {
      border: none;
      color: $color-icon;
      font-size: 1.8em;
      cursor: pointer;
    }
    .btn-tar {
      // margin-left: 1rem;
      background-image: linear-gradient(to right bottom, #0097b2, #7ed957);
      padding: 1.4rem 1.6rem;
      border-radius: 8px;
      text-decoration: none;
      text-transform: uppercase;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.4rem;
      font-weight: bold;
      color: #fff;

      &:hover {
        background-image: linear-gradient(to right bottom, #7ed957, #0097b2);
      }
    }
  }
}

//! Trabajar en los efectos de activo
//! --------------------------------------------
//! --------------------------------------------

/* Estilos específicos para el botón de cambio de tema */
// ? Revisar cuando terminemos la pagina para agregar sus funcionalidades
#theme-toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  position: relative;
}

/* Mostrar el ícono de sol en el modo claro */
#theme-toggle .sunny-outline {
  opacity: 1;
}

/* Mostrar el ícono de luna en el modo oscuro */
.dark-mode #theme-toggle .moon-outline {
  opacity: 1;
}

/* Ocultar el ícono de sol en el modo oscuro */
.dark-mode #theme-toggle .moon-outline {
  opacity: 0;
}

/* Ocultar el ícono de luna en el modo claro */
#theme-toggle .moon-outline {
  opacity: 0;
}

/* Ocultar íconos según el tema */
.hidden {
  display: none;
}

//! Footer
//! --------------------------------------------
//! --------------------------------------------

footer {
  width: 100%;
  // position: fixed;
  bottom: 0;
  left: 0;
  background: #111;

  .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .izquierda {
      .arriba {
        img {
          width: 30rem;
        }
      }
      .abajo {
        display: flex;
        flex-direction: column;
        align-items: center;
        .cont-lenguaje {
          font-size: 2.4rem;
          color: #fff;
        }
      }
    }

    .medio {
      margin-bottom: 5rem;
      a {
        font-size: 1.6rem;
        text-decoration: none;
        margin-bottom: 0.5rem;
        &:hover {
          color: #aaa;
        }
      }
    }

    p,
    a {
      color: #fff;
    }
    .derecha {
      margin-top: 5rem;
      .ingresa-t {
        height: 45px;
        width: 100%;
        outline: none;
        color: #d9d9d9;
        background: #000;
        border-radius: 5px;
        padding-left: 10px;
        font-size: 17px;
        border: 2px solid #222222;
      }
      .enviar-t {
        height: 42px;
        width: 100%;
        font-size: 18px;
        color: #d9d9d9;
        background: #eb2f06;
        outline: none;
        border-radius: 5px;
        letter-spacing: 1px;
        cursor: pointer;
        margin-top: 12px;
        border: 2px solid #eb2f06;
        &:hover {
          background: none;
          color: #eb2f06;
        }
      }

      .media-icon {
        a {
          font-size: 16px;
          height: 45px;
          width: 45px;
          display: inline-block;
          text-align: center;
          line-height: 43px;
          border-radius: 5px;
          border: 2px solid #222222;
          margin: 30px 5px 0 0;
          transition: all 0.3s ease;
          &:hover {
            border-color: #eb2f06;
            color: #eb2f06;
          }
        }
      }
    }
  }
}

.topico {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

// !!

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 9.6rem;
}
