// ? Este es de los slides que giran
@keyframes change {
  33% {
    background-image: url(/img/fondo-slide2.jpg);
  }
  66% {
    background-image: url(/img/fondo-slide3.jpg);
  }
}

// ? Este es de los logos que giran
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
