//!Top bar icons
@mixin contact-icon-style {
  display: flex;
  align-items: center;
  justify-content: center;

  ion-icon {
    background-color: #97b3a5;
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
  }

  a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    margin: 0 10px;
  }
}
